:root {
  --brand-color: #2f303a;
  --secondary-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #757575;
  --dark-grey-color: #212121;
  --light-blue-color: #f5f4fa;
  --canary-color: #ffffff99;
  --light-grey-color: #eeeeee;
  --very-light-grey-color: #ececec;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-grey-color);
}
.web-header {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: var(--black-color);
}
.header-border {
  border-bottom: 1px solid var(--very-light-grey-color);
}
.header-container {
  display: flex;
  align-items: center;
  padding: 32px 0px;
}
.section {
  padding: 94px 0;
}
.section-2 {
  padding: 160px 0;
}
.section-3 {
  padding: 0;
}
.effect {
  text-align: center;
  color: var(--white-color);
  background-color: var(--brand-color);
}
.effect-size {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  padding: 0px 300px;
  letter-spacing: 1.9px;
}
.heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.3px;
}
.button-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: auto;
  width: 200px;
  letter-spacing: 0.6px;
  line-height: 1.875;
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: none;
}
.button-2 {
  cursor: pointer;
  padding: 6px 22px;
  margin: -10px;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  color: var(--dark-grey-color);
  background-color: var(--light-blue-color);
  letter-spacing: 0.3px;
  line-height: 1.675;
}
.button-2:hover {
  background-color: var(--secondary-color);
}
.button-2:focus {
  background-color: var(--secondary-color);
}
.flex-center {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.flex {
  padding-bottom: 50px;
}
.flex-center-2 {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.flex-center-1 {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
  color: var(--grey-color);
}
.appearance {
  font-weight: 500;
  letter-spacing: 0.2px;
}
.web-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--white-color);
}
.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  margin: 0 auto;
  padding-top: 60px;
  color: var(--white-color);
  background-color: var(--brand-color);
  letter-spacing: 0.3px;
}
.footer-color {
  color: var(--canary-color);
}
.address {
  margin-top: 30px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.914;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.first-section-container {
  padding: 112px 0px;
}
.second-container {
  margin-top: 94px;
}
.span-color {
  color: var(--secondary-color);
}
.link-color {
  color: var(--grey-color);
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}
.link-color:focus {
  color: var(--secondary-color);
}
.link-color:hover {
  color: var(--secondary-color);
}
.link-color:focus {
  color: var(--secondary-color);
}
.link-color:hover {
  color: var(--secondary-color);
}
.portraiture-2 {
  font-size: 14px;
  line-height: 1.9;
  color: var(--grey-color);
  letter-spacing: 0.3px;
  margin: 0px 0.6px;
}
.portraiture {
  line-height: 1.7;
  color: var(--grey-color);
  margin-left: 10px;
  letter-spacing: 0.3px;
}
.portraiture-size {
  padding-bottom: 30px;
  line-height: 1.19;
  color: var(--grey-color);
  letter-spacing: 0.3px;
}
.headstall {
  margin-left: 10px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.6px;
}
.headstall-2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding: 0px 0.6px;
  letter-spacing: 0.3px;
}
.caption {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue-color);
}
.headstall-size {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.3px;
}
.flex-line {
  display: block;
  justify-content: center;
}
.img-center {
  display: block;
  text-align: center;
  box-shadow: var(--white-color);
  background-color: var(--white-color);
}
.img-center-2 {
  display: block;
  box-shadow: var(--white-color);
  background-color: var(--white-color);
  border-right: 1px solid var(--light-grey-color);
  border-left: 1px solid var(--light-grey-color);
  border-bottom: 1px solid var(--light-grey-color);
  padding: 20px 0px;
}
.distance {
  padding-bottom: 30px;
}
.img-1 {
  vertical-align: bottom;
}
.card-image {
  max-width: 100%;
  vertical-align: bottom;
}
.card-image.no-gap {
  display: block;
}
.card-set {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  flex-basis: calc((100% - 90px) / 3);
}
