* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
  color: var(--six-color);
}
:root {
  --brand-color: #2f303a;
  --secondary-color: #2196f3;
  --tertiary-color: #000000;
  --quaternary-color: #ffffff;
  --five-color: #757575;
  --six-color: #212121;
  --seven-color: #f5f4fa;
  --eight-color: #ffffff99;
}
.button-class {
  cursor: pointer;
  text-align: center;
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  width: 200px;
  border-radius: 4px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: auto;
  border: none;
}
.button-class-2 {
  cursor: pointer;
  text-align: center;
  color: var(--six-color);
  background-color: var(--seven-color);
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.button-class-2:hover {
  background-color: var(--secondary-color);
}
.button-class-2:focus {
  background-color: var(--secondary-color);
}
.lorem-ipsum {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  column-gap: 30px;
}
.web-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--quaternary-color);
}
.web-header {
  font-family: "Raleway";
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.span-class {
  color: var(--secondary-color);
}
.footer-class {
  list-style-type: none;
  color: var(--quaternary-color);
  background-color: var(--brand-color);
  margin: 0 auto;
  display: flex;
  text-decoration: none;
  padding-top: 60px;
  justify-content: center;
  margin-top: -20px;
}
.underline-none {
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 9px;
}
.address-class {
  list-style: none;
  margin-top: 30px;
  font-style: normal;
}
.header-class {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.header-container {
  display: flex;
  align-items: center;
  padding: 32px 0px;
}
.link-color-class {
  color: var(--five-color);
  text-decoration: none;
}
.link-color-class:focus {
  color: var(--secondary-color);
}
.link-color-class:hover {
  color: var(--secondary-color);
}
.link-color {
  color: inherit;
  text-decoration: none;
}
.link-color:focus {
  color: var(--secondary-color);
}
.link-color:hover {
  color: var(--secondary-color);
}
.effect {
  color: var(--quaternary-color);
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  padding-top: 165px;
  padding-bottom: 165px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.effect-size {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
}
.h2-class {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: inherit;
  padding-top: 0px;
  padding-bottom: 50px;
  justify-content: center;
}
.workers-size {
  font-size: 16px;
}
.p-class-2 {
  font-size: 14px;
  line-height: 1.7;
  color: var(--five-color);
}
.p-class {
  font-size: 14px;
  line-height: 1.7;
  color: var(--five-color);
  margin: 10px;
}
.lorem-ipsum-2 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  column-gap: 30px;
}
.lorem-ipsum-class {
  display: flex;
  column-gap: 50px;
  list-style: none;
  margin-left: auto;
}
.p-size {
  font-size: 16px;
  line-height: 1.19;
  color: var(--five-color);
  padding-bottom: 30px;
}
.h3-class {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.h3-class-2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  margin-bottom: 10px;
}
.h2-class-2 {
  background-color: var(--seven-color);
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}
.h2-class-3 {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: center;
}
.h3-size {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  padding-top: 30px;
}
.section {
  padding: 94px 0;
}
.flex-line {
  display: block;
  justify-content: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.first-section-container {
  padding: 112px 0px;
}
.second-container {
  margin-top: -93px;
}
.img-center {
  display: block;
  text-align: center;
  box-shadow: var(--quaternary-color);
  background-color: var(--quaternary-color);
}
.img-center-2 {
  display: block;
  box-shadow: var(--quaternary-color);
  background-color: var(--quaternary-color);
}
.footer-color {
  color: var(--eight-color);
}
.img-class {
  margin-top: -120px;
}
.img-2 {
  vertical-align: bottom;
}
